@{
    ViewBag.Title = "Pagina de Inicio";
}

<div class="jumbotron">
    <h1>Gestión de Tickets - Soporte Técnico</h1>
    <p class="lead">Este sistema le permite gestionar sus problemas técnicos, realizar un seguimiento en tiempo real sobre las incidencias, así como reportes actualizados permitiendo su impresión de cada reporte</p>
    <p><a href="@Url.Action("Create","REPORTES")" class="btn btn-success btn-lg">Nuevo Ticket</a></p>
</div>

